a {
  color: #ffffff;
}

a:hover{
  color: #DEF2F1;
}

.fa-list-alt{
  font-size: 2rem;
}

.header {
  background-color: #17252A;
}

.slide-panel {
    background: #17252A;
    height: 91.5vh;
    width: 14em;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.panel-hidden .slide-panel {
    transform: translate3d(-14.2em, 0, 0);
    transition: transform 0.2s;
}
